{% extends 'ecmsapp/main.html' %}
{% block content %}
  <div class="whole container">
    <div class="left_container">
      <h1>Customer Reviews</h1>
      {% for Post in Posts %}
        <div class="content_container">
            <a href="{% url 'customer' Post.customer.id %}">{{Post.customer.name}}</a>
            <!-- {{Post.customer.id}} -->
            {{Post.post}}<br>
            {{Post.date_created}}<br>
            <img class="profile-pic" src="{{Post.post_picutre.url}}" alt="">
        </div>
      {% endfor %}
    </div>
    <div class="right_container">
      <h1>Shop Owner Posts</h1>
      {% for Post in Shop_Owner_Posts %}
        <div class="content_container">
            {% if user.groups.all.0.name == "admin" %}
              <a href="{% url 'shop_owner' Post.shop_owner.id %}">{{Post.shop_owner.name}}</a>
            {% elif request.user.username == Post.shop_owner.name %}
              <a href="{% url 'shop_owner' Post.shop_owner.id %}">{{Post.shop_owner.name}}</a>
            {% else %}
              <a href="{% url 'shop_owner_data' Post.shop_owner.id %}">{{Post.shop_owner.name}}</a>
            {% endif %}
            {{Post.shop_owner.name}}
            {{Post.post}}<br>
            {{Post.date_created}}<br>
            <img class="profile-pic" src="{{Post.post_picutre.url}}" alt=""><hr>
        </div>
        <br>
      {% endfor %}
    </div>
  </div>


{% endblock %}
