{% extends 'ecmsapp/main.html' %}
{% block content %}

<style>
  .post-pic{
    max-width: 250px;
    max-height:150px;
    margin: 0 auto;

  }
  .forum-pic{
    max-width: 250px;
    max-height:150px;
    margin: 0 auto;

  }
</style>
<br>
<h3 class="text-center">All Shop Owners Posts</h3>
<div class="row ">
  <div class="card card-body pt-1 pl-1 pb-1">
    <div class="row">
      {% for Post in Shop_Owner_Posts %}
      {% if user.groups.all.0.name == "admin" %}
        <div class="col-md-3">
          <div class="card card-body  pt-2 pl-2 pb-2">
                <img class="post-pic" src="{{Post.post_picutre.url}}" alt="">
                <b>{{Post.shop_owner.name}}</b>
      {% elif request.user.username == Post.shop_owner.name %}
        <div class="col-md-3">
          <div class="card card-body  pt-2 pl-2 pb-2">
                <img class="post-pic" src="{{Post.post_picutre.url}}" alt="">
                <b>{{Post.shop_owner.name}}</b>
      {% else %}
        <div class="col-md-3">
          <div class="card card-body  pt-2 pl-2 pb-2">
                <img class="post-pic" src="{{Post.post_picutre.url}}" alt="">
                <b>{{Post.shop_owner.name}}</b>
      {% endif %}
                {{Post.post}}<br>
                <a href="{% url 'shop_owner_post_detail' Post.id %}">Detail</a>
                {{Post.date_created}}<br>
          </div>
        </div>
      {% endfor %}

</div>

{% endblock %}
