{%  extends 'ecmsapp/main.html' %}
{% load static %}
{% block content %}
<br>
<style>
	.profile-pic{
		max-width: 150px;
		max-height:150px;
		margin: 0 auto;
		border-radius: 5%;
	}

	.shop-pic{
		max-width: 235px;
		max-height:235px;
		margin: 0 auto;
		border-radius: 5%;
	}
</style>

<div class="row">

	<div class="col-md-4">
		<div class="card card-body">
			<img class="profile-pic" src="{{shop_owner_data.prfile_pic.url}}" >
			<hr>
			<h3 >Personal Details</h3>
			<p>Name: {{shop_owner_data.name}}</p>
			<p>Email: {{shop_owner_data.phone}}</p>
			<p>Phone: {{shop_owner_data.email}}</p>
		</div>
	</div>

	<div class="col-md-8">
		<div class="row">
						<div class="col-md-6">
							<div class="card card-body">
								{% if user.groups.all.0.name == "admin" %}
									<h5 class="text-center">Shop</h5>
								{% else %}
									<h5 class="text-center">Your Shop</h5>
								{% endif %}	
								<h1 style="text-align: center;padding: 10px">
									{% for shop in shops %}
									 <a href="{% url 'shop' shop_owner_data.id %}">
										 {{ shop.shop_name }}
										 <img class="shop-pic" src="{{ shop.shop_picture.url }}" >
									   </a>
									{% endfor %}
								</h1>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-body">
								<h5 class="text-center">Shop Summary</h5>
								<hr>
									{% for shop in shops %}
										 <b> Owner : {{shop.shop_owner}}<br><hr>
									   Shop : {{shop.shop_name}}<br><hr>
										 Shop ID : {{shop.shop_id}}<br><hr>
										 Address : {{shop.shop_address}}<br><hr>
										 Joined On : {{shop.date_created}}<hr>
										  </b>
									{% endfor %}

							</div>
						</div>

		</div>

  	<!-- <div class="col-md">
  		<div class="card card-body">
  			<h5 class="text-center">Details</h5>
        <p>Name: {{shop_owner_data.name}}</p>
  			<p>Email: {{shop_owner_data.phone}}</p>
  			<p>Phone: {{shop_owner_data.email}}</p>
  		</div>
  	</div> -->

{% endblock %}
